[Unit]
Description=TinyVPS
After=network-online.target
ConditionFileIsExecutable=/home/<user>/.tinyvps/tinyvps.sh

[Service]
Type=forking
ExecStart=/home/<user>/.tinyvps/tinyvps.sh
RemainAfterExit=yes
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
