[Unit]
Description=TinyVPS
After=network-online.target
ConditionFileIsExecutable=/home/<user>/tinyvps/tinyvps.sh
StartLimitIntervalSec=600s
StartLimitBurst=3

[Service]
Type=simple
ExecStart=/bin/bash /home/<user>/tinyvps/tinyvps.sh
RemainAfterExit=no
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
